<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/multifile/jquery.MultiFile.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
<title>Node.Js and Passport App</title>
</head>
<body>
<%- body %> 
</body>
    <script src="/js/script.js"></script>
</html>